.ps-layout{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ps-layout-main{
  display: flex;
  flex:1; 
  min-height: 0;
  /* overflow: auto; */
}
.ps-layout-main-left{
  flex: 2;
  background-color: var(--bg-color);
  border-right: 1px solid var(--shadow);
} 
.ps-layout-main-mid{
  flex: 5;
  background-color: var(--bg-color);
  background-color: var(--border-grey);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: 50px; */
  border: 50px solid rgba(255, 255, 255, 0);
  overflow: auto;
}
.ps-layout-main-right{
  flex: 2;
  background-color: var(--bg-color);
  border-left: 1px solid var(--shadow);
}

.ps-bar-text-close.ps-bar-text-close{
  margin-left: 10px;
}