.editor-paper{
  /* height: 2000px; */
  width: 375px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.editor-body{
  /* margin-top: 50px; */
  height: 667px;
  /* 375+23 */
  width: 405px;
  position: relative;
  overflow: auto;
  overflow-x: auto;
}