.ps-layout{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ps-container{
  display: flex;
  flex:1; 
}
.ps-con-left{
  flex: 2;
  background-color: var(--bg-color);
  border-right: 1px solid var(--shadow);
} 
.ps-con-mid{
  flex: 5;
  background-color: var(--bg-color);
}
.ps-con-right{
  flex: 2;
  background-color: var(--bg-color);
  
  border-left: 1px solid var(--shadow);
}
.ps-layout-block{
  /* height: 1000px; */
}